.carousel-content {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.text-container {
  max-width: 550px;
  text-align: center;
  margin: 0 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .text-container {
    margin: 0;
    max-width: 90%;
  }
  .carousel-title {
    font-size: 1.5rem;
  }
  .carousel-description {
    font-size: 1rem;
  }
  .carousel-img {
    width: 250px;
    height: 250px;
  }
  .carousel-content {
    flex-direction: column;
    padding: 20px;
  }
}
 .card {
  border-radius: 0;
 } 
 .card img{
  width: 50px;
  margin: 0 auto;
  background-color: white;
 }
 .card p{
  margin-top: 10px;
 }
.bg-lightpink {
  background-color: #f8c8d7;
}
.bg-lightblue {
  background-color: #add8e6;
}
.bg-lightgreen {
  background-color: #90ee90; 
}
